<div class="row">
    <div class="col-sm-12">
        <form action="/admin/categories/update/{{category.id}}?_method=PUT" method="POST">
   <div class="form-group">
       <label for="name">Name</label>
       <input type="text" name="name" class="form-control" value="{{category.name}}">
   </div>
     <button type="submit" class="btn btn-success">Update Category</button>
        </form>
    </div>
</div>